.titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.sub_titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.texto{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}